<h1>New Post</h1>
<form action="/newpost/<%= @user_id %>" method='POST'>
  <a>Title<input type="text" name="title"></a><br>
  <a>URL<input type="text" name="url"><a/><br>
  <input type="submit" value="Submit!" name="submit">
</form>
 
